#watchlist-container {
    background-image: url('../../assets/home-back.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    height: auto;
    width: 100vw;
    section {
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 90%;
        }
        td {
            border: 3px solid #b1276c;
            text-align: center;
            padding: 4px;
            width: 200px;
            border-collapse: collapse;
        }
        .watchlist {
            display: flex;
            justify-content: space-between;
            width: 100%;
            border: 2px solid #e7667c;
            height: 80px;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.3);
        }
        .name-main {
            font-size: 23px;
        }
        .name-1 {
            color: black;
            font-weight: 700;
        }
        .name-2 {
            color: #b300de;
            font-weight: 700;
        }
        .logout {
            border: 2px solid;
            height: 35px;
            padding: 12px;
            display: flex;
            align-items: center;
            color: #c3178e;
            cursor: pointer;
        }
        .champ {
            border: 2px solid;
            height: 35px;
            padding: 12px;
            display: flex;
            align-items: center;
            color: #c3178e;
            cursor: pointer;
        }
        .champ-main {
            display: flex;
            justify-content: space-around;
            width: 30%;
        }
    }
}